<div class="footer">
  <div class="footer-main">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="footer-column mobile-column-center" id="orari">
          <p class="uppercase-text bolder-text">Gli orari del vivaio</p>
          <p>Venerdì e Sabato<br>
          9.00-12.30<br>
          15.30-tramonto</p>

          <p>Dicembre, Gennaio, Febbraio e Agosto <span class="bolder-text">aperto solo su appuntamento</span></p>

          <%= link_to "Dove Siamo", contatti_path, class: "orange-text" %><br>
          <%= link_to "Come Acquistare", acquistare_path, class: "orange-text" %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="footer-column mobile-column-center" id="acquista-online">
          <%= link_to "ordina online ", catalogo_intro_path, class: "orange-text" %><span class= "orange-text"><i class="fab fa-envira"></i></span>
        </div>
        <div class="search mobile-column-center">
          <%= form_tag plants_path, method: "get" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], placeholder: "Cerca una pianta", class: 'searchTerm', remote: true %>
              <button  type="submit" class="btn btn-info btn-sm">
                <i class="fa fa-search"></i>
              </button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="footer-column mobile-column-center" id="social-media">
          <div class="uppercase-text bolder-text", id="one">
            <p>seguici</p>
          </div>
          <div id="links">
            <p><%= image_tag "fb-xsmall.png", alt: "Facebook" %><%= link_to "@vivaiomillefoglie.it", "https://www.facebook.com/vivaiomillefoglie.it/", target: :_blank %></p>
            <p><%= image_tag "fb-xsmall.png", alt: "Facebook" %><%= link_to "@millefoglieflowerslab", "https://www.facebook.com/millefoglieflowerslab/", target: :_blank %></p>
            <p><%= image_tag "ig-xsmall.png", alt: "Instagram" %><%= link_to "@felipedelmillefoglie", "https://www.instagram.com/felipedelmillefoglie/", target: :_blank %></p>
            <p><%= image_tag "ig-xsmall.png", alt: "Instagram" %><%= link_to "@roxdelmillefoglie", "https://www.instagram.com/roxdelmillefoglie/", target: :_blank %></p>
            <p><%= image_tag "ig-xsmall.png", alt: "Instagram" %><%= link_to "@millefoglieflowerslab", "https://www.instagram.com/millefoglieflowerslab/", target: :_blank %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="footer-column mobile-column-center" id="bonus-verde">
          <p class="uppercase-text bolder-text">Bonus Verde</p>
          <p class="bolder-text">incentivi fiscali del 36%</p>
          <p>per giardini, balconi e terrazzi privati e condominiali</p>

          <%= link_to "clicca qui per maggiori informazioni", bonusverde_path, class: "orange-text" %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright©2019 Millefoglie piante e giardini via Aosta 83/A 10015 Ivrea (To)  P.IVA 12088940015    <%= mail_to "info@vivaiomillefoglie.it", "info@vivaiomillefoglie.it", class: "orange-text" %>    <%= link_to "Condizioni di vendita", condizionivendita_path, class: "orange-text" %> | developed by: <%= link_to "mali-hnin", "https://github.com/mali-hnin/", target: :_blank, class: "orange-text" %></p>
  </div>
</div>
