<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-brand">
    <a href="/">
      <%= image_tag "logo_2_orizz.png", alt: "Millefoglie Piante e Giardini" %>
    </a>
  </div>
  <!-- Left Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "Catalogo", catalogo_intro_path, class: "navbar-wagon-item navbar-wagon-link uppercase-text" %>
    <%= link_to "Giardini", giardini_path, class: "navbar-wagon-item navbar-wagon-link uppercase-text" %>
    <%= link_to "Millefoglie Flowerslab", flowerslab_path, class: "navbar-wagon-item navbar-wagon-link uppercase-text" %>
    <%= link_to "Contatti", contatti_path, class: "navbar-wagon-item navbar-wagon-link uppercase-text" %>
    <%= link_to "Eventi", eventi_path, class: "navbar-wagon-item navbar-wagon-link uppercase-text" %>
    <%= link_to "Blog", "https://millefoglieinuncampo.wordpress.com/", target: :_blank, class: "navbar-wagon-item navbar-wagon-link uppercase-text" %>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link light-blue-text", method: :delete do %>
        <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
      <% end %>
    <% end %>
  </div>
  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <%= link_to 'Menu <i class="fa fa-angle-down" aria-hidden="true"></i>
      '.html_safe, "", class: "navbar-wagon-item navbar-wagon-link uppercase-text", "data-toggle" => "dropdown" %>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Home", root_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to "Catalogo", catalogo_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to "Giardini", giardini_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to "Millefoglie Flowers Lab", flowerslab_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to "Contatti", contatti_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to "Blog", "https://millefoglieinuncampo.wordpress.com/", target: :_blank, class: "navbar-wagon-item navbar-wagon-link" %></li>
      </ul>
    </div>
  </div>
</div>

<!-- LOGIN RX NAVIGATION ITEM for when customer login system is set up -->
    <!-- <% else %>
       <%= link_to "Log In", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link light-blue-text" %>
    <%= link_to '<i class="fa fa-shopping-basket" aria-hidden="true"></i> Carrello'.html_safe, "", class: "navbar-wagon-item navbar-wagon-link light-blue-text" %> -->


