<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-brand">
    <a href="/">
      <%= image_tag "logo_orizz_white.png", alt: "Millefoglie Piante e Giardini" %>
    </a>
  </div>
  <!-- Left Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Catalogo", catalogo_intro_path, class: "navbar-wagon-item navbar-wagon-link uppercase-text" %>
    <%= link_to "Giardini", giardini_path, class: "navbar-wagon-item navbar-wagon-link uppercase-text" %>
    <%= link_to "L'Orto dei Fiori", flowerslab_path, class: "navbar-wagon-item navbar-wagon-link uppercase-text" %>
    <%= link_to "Contatti", contatti_path, class: "navbar-wagon-item navbar-wagon-link uppercase-text" %>
    <%= link_to "Eventi", vivaio_events_path, class: "navbar-wagon-item navbar-wagon-link uppercase-text" %>
    <%= link_to "Blog", "https://millefoglieinuncampo.wordpress.com/", target: :_blank, class: "navbar-wagon-item navbar-wagon-link uppercase-text" %>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to cart_path(@cart), class: "navbar-wagon-item navbar-wagon-link bright-blue-text" do %>
      <%= "Carrello" %>&nbsp;<i class="fa fa-shopping-basket" aria-hidden="true">&nbsp;</i> <%= cart_count %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link bright-blue-text", method: :delete do %>
        <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
      <% end %>
    <% end %>
  </div>
  <div class="navbar-wagon-item hidden-md hidden-lg cart-sm">
    <%= link_to cart_path(@cart), class: "navbar-wagon-item navbar-wagon-link bright-blue-text" do %>
      <i class="fa fa-shopping-basket" aria-hidden="true">&nbsp;</i><%= cart_count %>
    <% end %>
  </div>
  <!-- Dropdown navigation appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        MENU
      </a>
      <ul class="dropdown-menu navbar-wagon-dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><%= link_to "Home", root_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Catalogo", catalogo_intro_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Giardini", giardini_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "L'Orto dei Fiori", flowerslab_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Contatti", contatti_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Eventi", vivaio_events_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Blog", "https://millefoglieinuncampo.wordpress.com/", target: :_blank, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% if user_signed_in? %>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link", method: :delete do %>
              <i class="fa fa-sign-out"></i><%= t(".sign_out", default: "Log out") %>
            <% end %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- End of dropdown -->
</div>