<div class="bg">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="page-wrapper white-bg">
    <% if user_signed_in? && current_user.admin %>
      <!-- Admin Panel -->
      <div class="container">
        <%= render 'plants/admin_panel_main' %>
      </div>
      <!-- End of Admin Panel -->
    <% end %>
    <div class="catalogo-content text-center">
      <div class="catalogo-banner">
        <h1 class="text-center">Catalogo</h1>
        <h4><%= link_to "Vedi tutte le piante", plants_path, class: "orange-text" %></h4>
        <br>
        <%= render 'shared/search_bar' %>
      </div>
      <div class="content">
        <div class="row">
          <div class="categorie-row">
            <div class="col-xs-12 col-md-12 col-lg-3">
              <div class="categoria-header">
                Tipo di piante
              </div>
              <div class="categoria-content">
                <%= link_to "Erbacee perenni", erbacee_perenni_plants_path %>
                <%= link_to "Erbacee annuali", erbacee_annuali_plants_path %>
                <%= link_to "Graminacee", graminacee_plants_path %>
                <%= link_to "Altro", categoria_altro_plants_path %></div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
              <div class="categoria-header">
                Esposizione
              </div>
              <div class="categoria-content">
                <%= link_to "Sole", esposizione_sole_plants_path %>
                <%= link_to "Ombra", esposizione_ombra_plants_path %>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
              <div class="categoria-header">
                Caratteristiche
              </div>
              <div class="categoria-content">
                <div id="categoria-accordion" data-children=".item">
                  <div class="item spacing-5">
                    <a data-toggle="collapse" data-parent="#categoria-accordion" href="#categoria-accordion2" role="button" aria-expanded="false" aria-controls="categoria-accordion2">
                      Stagione della fioritura <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <div id="categoria-accordion2" class="collapse" role="tabpanel">
                      <ul class="mb-3 accordion-menu">
                        <li><%= link_to "Primavera", plants_path(fioritura: "primavera"), class: "" %></li>
                        <li class="white"><%= link_to "Estate", plants_path(fioritura: "estate"), class: "" %></li>
                        <li><%= link_to "Autunno", plants_path(fioritura: "autunno"), class: "" %></li>
                        <li class="white"><%= link_to "Inverno", plants_path(fioritura: "inverno"), class: "" %></li>
                      </ul>
                    </div>
                  </div>
                  <div class="item spacing-5">
                    <a data-toggle="collapse" data-parent="#categoria-accordion" href="#categoria-accordion3" role="button" aria-expanded="false" aria-controls="categoria-accordion3">
                      Altezza <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <div id="categoria-accordion3" class="collapse" role="tabpanel">
                      <ul class="mb-3 accordion-menu">
                        <li><%= link_to "Basse", plants_path(altezza: "bassa"), class: "" %></li>
                        <li class="white"><%= link_to "Medie", plants_path(altezza: "media"), class: "" %></li>
                        <li><%= link_to "Alte", plants_path(altezza: "alta"), class: "" %></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <%= link_to "Fogliame ornamentale", plants_path(utile_per: "fogliame", utile_per2: "fogliame decorativo") %>
                <%= link_to "Da taglio", plants_path(utile_per: "taglio", utile_per2: "x") %>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
              <div class="categoria-header">
                Interesse per l'ambiente
              </div>
              <div class="categoria-content">
                <%= link_to "Piante coprisuolo", plants_path(utile_per: "coprisuolo", utile_per2: "x") %>
                <%= link_to "Piante azotofissatrici", plants_path(utile_per: "azotofissat", utile_per2: "x") %>
                <%= link_to "Piante utili per insetti e uccelli", plants_path(utile_per: "insetti", utile_per2: "uccelli") %>
                <%= link_to "Piante con poche esigenze di irrigazione", plants_path(utile_per: "secco", utile_per2: "x") %>
                <%= link_to "Piante spontanee", plants_path(utile_per: "spontan", utile_per2: "x") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>