<div class="bg">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="page-wrapper white-bg">
    <div class="catalogo-content text-center">
      <div class="catalogo-banner">
        <h1>Catalogo</h1>
        <h4><%= link_to "Vedi tutte le piante", plants_path, class: "orange-text" %></h4>
      </div>
      <div class="row">
        <div class="categorie-row">
          <div class="col-xs-12 col-md-12 col-lg-3">
            <div class="categoria-header">
              Tipo di piante
            </div>
            <div class="categoria-content">
              <%= link_to "Erbacee perenni", plants_path(category: "erbacee perenni") %>
              <%= link_to "Erbacee annuali", plants_path(category: "erbacee annuali") %>
              <%= link_to "Graminacee", plants_path(category: "graminacee") %>
              <%= link_to "Altro", plants_path(category: "altro") %></div>
          </div>

          <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="categoria-header">
              Esposizione
            </div>
            <div class="categoria-content">
              <%= link_to "Sole", plants_path(esposizione: "sole") %>
              <%= link_to "Ombra", plants_path(esposizione: "ombra") %>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="categoria-header">
              Caratteristiche
            </div>
            <div class="categoria-content">
              <div id="categoria-accordion" data-children=".item">
                <div class="item spacing-5">
                  <a data-toggle="collapse" data-parent="#categoria-accordion" href="#categoria-accordion2" role="button" aria-expanded="false" aria-controls="categoria-accordion2">
                    Stagione della fioritura<i class="fa fa-angle-down" aria-hidden="true"></i>
                  </a>
                  <div id="categoria-accordion2" class="collapse" role="tabpanel">
                    <ul class="mb-3 accordion-menu">
                      <li><%= link_to "Primavera", plants_path(fioritura: "primavera"), class: "" %></li>
                      <li><%= link_to "Estate", plants_path(fioritura: "estate"), class: "" %></li>
                      <li><%= link_to "Autunno", plants_path(fioritura: "autunno"), class: "" %></li>
                      <li><%= link_to "Inverno", plants_path(fioritura: "inverno"), class: "" %></li>
                    </ul>
                  </div>
                </div>
                <div class="item spacing-5">
                  <a data-toggle="collapse" data-parent="#categoria-accordion" href="#categoria-accordion3" role="button" aria-expanded="false" aria-controls="categoria-accordion3">
                    Altezza <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </a>
                  <div id="categoria-accordion3" class="collapse" role="tabpanel">
                    <ul class="mb-3 accordion-menu">
                      <li><%= link_to "Basse", plants_path(altezza: "bassa"), class: "" %></li>
                      <li><%= link_to "Medie", plants_path(altezza: "media"), class: "" %></li>
                      <li><%= link_to "Alte", plants_path(altezza: "alta"), class: "" %></li>
                    </ul>
                  </div>
                </div>
              </div>
              <%= link_to "Fogliame ornamentale", plants_path(utile_per: "fogliame", utile_per2: "fogliame decorativo") %>
              <%= link_to "Da taglio", plants_path(utile_per: "taglio", utile_per2: "x") %>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="categoria-header">
              Interesse per l'ambiente
            </div>
            <div class="categoria-content">
              <%= link_to "Piante coprisuolo", plants_path(utile_per: "coprisuolo", utile_per2: "x") %>
              <%= link_to "Piante azotofissatrici", plants_path(utile_per: "azotofissat", utile_per2: "x") %>
              <%= link_to "Piante utili per insetti e uccelli", plants_path(utile_per: "insetti", utile_per2: "uccelli") %>
              <%= link_to "Piante con poche esigenze di irrigazione", plants_path(utile_per: "secco", utile_per2: "x") %>
              <%= link_to "Piante spontanee", plants_path(utile_per: "spontan", utile_per2: "x") %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if user_signed_in? && current_user.admin %>
      <div class="admin-buttons">
        <p>Pannello Amministratori</p>
        <div>
          <%= link_to "Crea nuova pianta", new_plant_path, class: "btn btn-success" %>
          <%= link_to "Vedi tutto il Catalogo", admin_catalogo_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
