<div class="bg" style="background-image:url(<%= asset_path "bg08.jpg" %>)">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
  <div>
    <div class="page-wrapper">
      <div class="left-side">
        <div class="info-box">
          <div class="title">
            <h1>Ci piacciono i fiori belli!</h1>
          </div>
          <p>Quelli che coltiviamo nel nostro orto dei fiori, cresciuti con attenzione e rispetto per l'ambiente, senza fare uso di prodotti chimici.
          Fiori che non viaggiano per centinaia di chilometri su camion e aerei. Non arrivano da serre super tecnologiche che cancellano le stagioni.</p>

          <p>Fiori che portano in casa i colori e i profumi di ogni stagione.</p>

          <p>Mescoliamo i fiori del nostro orto e del giardino con quelli che raccogliamo nei prati o nei boschi, con le fronde prese nelle siepi tra i campi. I nostri mazzi raccolgono la bellezza della natura.</p>

          <p>Puoi venire a raccoglierli nel nostro orto dei fiori, oppure chiederci di portare dei mazzi a casa tua, o a casa di qualcuno a cui vuoi fare un dono. Avrai fiori sempre freschi perchè appena colti.</p>

          <p>Puoi scegliere di fare un abbonamento, per il tempo che vuoi, per rendere i fiori una gioia di tutti i giorni.</p>

          <p>Contattaci per feste, matrimoni ed eventi.</p>
        </div>
      </div>
      <div class="banner catalogo-banner"></div>
      <div class="banner catalogo-banner"></div>
    </div>
  </div>
</div>
