<div class="bg" style="background-image:url(<%= asset_path "bg8.jpg" %>)">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
  <div>
    <div class="page-wrapper">
      <div class="left-side">
        <div class="info-box">
          <p>
            Millefoglie è un giardino, un vivaio di piante erbacee perenni, annuali e graminacee ornamentali,un orto dei fiori, dove coltiviamo fiori da taglio.
            </br></br>
            Ricerchiamo costantemente piante che ancora non conosciamo, nuove specie evarietà, scegliendole tra quelle  più rustiche, poco esigenti e resistenti a parassiti e malattie;le sperimentiamo nel nostro giardino; le riproduciamo, coltiviamo  e proponiamo ai nostri clienti.</br></br>
            Effettuiamo la vendita delle piante sia per corrispondenza sia direttamente in vivaio.Progettiamo  e realizziamo giardini e terrazzi.
          </p>
        </div>
      </div>
      <div class="banner catalogo-banner"></div>
      <div class="banner catalogo-banner"></div>
    </div>
  </div>
</div>
