<div class="bg" style="background-image:url(<%= asset_path "bg09.jpg" %>); background-position: 0% 100%">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
  <div class="page-wrapper">
    <div class = "left-side">
      <div class="left-side-text">
        <div class="info-box">
          <div class="title">
            <h1>Giardini secondo natura e sogni</h1>
          </div>
          <p>Ci piacciono le piante e le coltiviamo da anni. Abbiamo imparato a guardarlo con gli occhi delle piante, il mondo.</p>

          <p>Facciamo giardini in cui la vita delle piante e dell'uomo sia facile.</p>

          <p>Facciamo giardini con gentilezza, perchè la bellezza nasca dalla semplicità.</p>

          <p>Progettiamo i giardini pensando alle piante e alle loro esigenze e alle persone che li abiteranno.</br>
          Non dimentichiamo i sogni.</br>
          Ascoltiamo desideri e cerchiamo di dare loro forma e vita.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="photos white-bg">
  <figure>
    <%= image_tag "giardini01.jpg", alt: "Facebook" %>
    <figcaption>Gambolò (PV), 2008</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini02.gif", alt: "Facebook" %>
    <figcaption>Saluzzo (CN), 2012</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini03.jpg", alt: "Facebook" %>
    <figcaption>Gabiano (AL), 2016</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini04.jpg", alt: "Facebook" %>
    <figcaption>Alessandria, 2017</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini05.jpg", alt: "Facebook" %>
    <figcaption>Alessandria, 2012</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini06.gif", alt: "Facebook" %>
    <figcaption>Alessandria, 2012</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini07.gif", alt: "Facebook" %>
    <figcaption>Montegrosso (AT), 2010</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini08.jpg", alt: "Facebook" %>
    <figcaption>Gambolò (PV), 2008</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini09.jpg", alt: "Facebook" %>
    <figcaption>Ivrea (TO), 2016</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini10.jpg", alt: "Facebook" %>
    <figcaption>Lessolo (TO), 2017</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini11.gif", alt: "Facebook" %>
    <figcaption>Saluzzo (CN), 2012</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini12.jpg", alt: "Facebook" %>
    <figcaption>Alessandria, 2012</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini13.jpg", alt: "Facebook" %>
    <figcaption>Torino, 2013</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini14.jpg", alt: "Facebook" %>
    <figcaption>Milano, 2016</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini15.jpg", alt: "Facebook" %>
    <figcaption>Gabiano (AL), 2016</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini16.jpg", alt: "Facebook" %>
    <figcaption>Saluzzo (CN), 2012</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini17.jpg", alt: "Facebook" %>
    <figcaption>Torino, 2015</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini18.jpg", alt: "Facebook" %>
    <figcaption>Ivrea (TO), 2013</figcaption>
  </figure>
  <figure>
    <%= image_tag "giardini19.jpg", alt: "Facebook" %>
    <figcaption>Ivrea (TO), 2018</figcaption>
  </figure>
</div>
