<div class="bg" style="background-image:url(<%= asset_path "bg09.jpg" %>); background-position: 0% 100%">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
  <div class="page-wrapper">
    <div class = "left-side">
      <div class="left-side-text">
        <div class="info-box">
          <div class="title">
            <h1>Giardini secondo natura e sogni</h1>
          </div>
          <p>Ci piacciono le piante e le coltiviamo da anni. Abbiamo imparato a guardarlo con gli occhi delle piante, il mondo.</p>

          <p>Facciamo giardini in cui la vita delle piante e dell'uomo sia facile.</p>

          <p>Facciamo giardini con gentilezza, perchè la bellezza nasca dalla semplicità.</p>

          <p>Progettiamo i giardini pensando alle piante e alle loro esigenze e alle persone che li abiteranno.</br>
          Non dimentichiamo i sogni.</br>
          Ascoltiamo desideri e cerchiamo di dare loro forma e vita.</p>
        </div>
      </div>
    </div>
  </div>
</div>
