<div class="bg">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="page-wrapper white-bg">
    <div class="gardens-intro">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id purus placerat, tristique nibh quis, consectetur tortor.
    </div>
    <div class="gardens-display">
      <div class="garden-photo-section">
        <%= image_tag "gardens/g_01.jpg", class: "big-img-resize garden-photo" %>
      </div>
      <div class="garden-photo-section">
        <%= image_tag "gardens/g_02.jpg", class: "big-img-resize garden-photo" %>
      </div><div class="garden-photo-section">
        <%= image_tag "gardens/g_03.jpg", class: "big-img-resize garden-photo" %>
      </div><div class="garden-photo-section">
        <%= image_tag "gardens/g_04.jpg", class: "big-img-resize garden-photo" %>
      </div><div class="garden-photo-section">
        <%= image_tag "gardens/g_05.jpg", class: "big-img-resize garden-photo" %>
      </div><div class="garden-photo-section">
        <%= image_tag "gardens/g_06.jpg", class: "big-img-resize garden-photo" %>
      </div><div class="garden-photo-section">
        <%= image_tag "gardens/g_07.jpg", class: "big-img-resize garden-photo" %>
      </div><div class="garden-photo-section">
        <%= image_tag "gardens/g_08.jpg", class: "big-img-resize garden-photo" %>
      </div>
    </div>
  </div>
</div>
