<!-- Code to put an image as a div's background in rails -->
<!-- style="background-image:url(<%= asset_path "4.jpg" %>)" -->

<%= content_for :left_side_text do %>
  <p>Un vivaio e un giardino, un luogo di ricerca, riproduzione e coltivazione di piante.</p>
  <p>Proponiamo collezioni di ERBACEE PERENNI E GRAMINACEE ORNAMENTALI con una particolare attenzione a piante per il bird-garden (piante da bacca e da siepe), piante per attirare farfalle e altri insetti utili, piante per il miglioramento naturale del suolo (specie azotofissatrici, coprisuolo...).</p>
  <p>Sperimentiamo tecniche per giardini eco-sostenibili.</p>
  <p>PROGETTIAMO E REALIZZIAMO GIARDINI E TERRAZZI.</p>
  <p>Effettuiamo la vendita delle piante sia per corrispondenza che direttamente in vivaio.</p>
<% end %>

<div class="page-wrapper">
  <div class="carousel-container">
    <div class="carousel">
      <div class="carousel-item">
        <%= image_tag "1.jpg" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "2.jpg" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "3.jpg" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "4.jpg" %>
      </div>
    </div>
  </div>
<!-- PUT FOOTER HERE -->
  <div class="page-bottom">
    <%= render 'shared/page-bottom' %>
  </div>
</div>
