<!-- Code to put an image as a div's background in rails -->
<!-- style="background-image:url(<%= asset_path "4.jpg" %>)" -->

<div class="bg" style="background-image:url(<%= asset_path "bg6.jpg" %>)">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
  <div class="page-wrapper">
    <div class = "left-side">
      <div class="left-side-text">
        <div class="info-box">
          <div class="home-title">
            <h1>millefoglie <span class="orange-text">E</span>' un giardino!</h1>
          </div>
          <p>Ci sono: un vivaio di piante erbacee perenni, graminacee ornamentali e   annuali da fiore.</br>
          Un orto dei fiori in cui coltiviamo fiori da taglio.</br>
          Tante piante da vedere, tra cui passeggiare; per scoprirle, conoscerle, portarle a casa.</p>

          <p>Cerchiamo continuamente piante che ancora non conosciamo, nuove specie e varietà.</p>

          <p>Scegliamo quelle  più rustiche, poco esigenti e resistenti a parassiti e malattie; le sperimentiamo nel nostro giardino; le riproduciamo, coltiviamo e le offriamo a chi le apprezza.</p>

          <p>Effettuiamo la vendita delle piante e dei fiori in vivaio o per corrispondenza.</p>

          <p>Progettiamo  e realizziamo giardini e terrazzi.</p>
        </div>
      </div>
      <div class="left-side-bottom">
        <div class="info-box">
          <p>GLI ORARI DEL VIVAIO</p>
          <p>VENERDI-SABATO<br>
          9.00-12-30<br>
          16.00-tramonto</p>

          <p>DICEMBRE-GENNAIO e AGOSTO<br>
          CHIUSO</p>
          <p>FEBBRAIO SU APPUNTAMENTO</p>

          <%= link_to "Dove Siamo", contatti_path %><br>
          <%= link_to "Come Acquistare", "" %>
        </div>
      </div>
    </div>
  </div>
</div>
