<div class="bg" style="background-image:linear-gradient(to right, rgba(0,0,0,0.4),rgba(0,0,0,0)),url(<%= asset_path "bg12.jpg" %>);filter: brightness(115%); ">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="page-wrapper-row">
    <div class = "left-side">
      <div class="left-side-text">
        <div class="info-box">
          <div class="title">
            <h1>millefoglie <span class="orange-text bolder-text">E</span>' un giardino!</h1>
          </div>
          <div>
            <p>Ci sono un vivaio di piante erbacee perenni, graminacee ornamentali e annuali da fiore.<br>
              Un orto dei fiori in cui coltiviamo fiori da taglio.<br>
              Tante piante da vedere, tra cui passeggiare... per scoprirle, imparare ad apprezzarle, magari portarle a casa.</p>
            <p>Cerchiamo continuamente piante che ancora non conosciamo, nuove specie e varietà.</p>
            <p>Scegliamo quelle  più rustiche, poco esigenti, resistenti a parassiti e malattie; le sperimentiamo nel nostro giardino; le riproduciamo, coltiviamo e le offriamo a chi le apprezza.</p>
            <p>Effettuiamo la vendita delle piante e dei fiori in vivaio o per corrispondenza.</p>
            <p>Progettiamo e realizziamo giardini e terrazzi.</p>
          </div>
        </div>
      </div>
      <div class="left-side-bottom">
      </div>
    </div>
    <div class="right-side">
      <% if user_signed_in? && current_user.admin %>
      <!-- Admin Panel -->
        <%= render 'plants/admin_panel_main' %>
      <!-- End of Admin Panel -->
      <% end %>
      <%= render 'shared/event_box', event: @next_event %>
    </div>
  </div>
</div>
