<!-- Code to put an image as a div's background in rails -->
<!-- style="background-image:url(<%= asset_path "4.jpg" %>)" -->

<div class="bg" style="background-image:url(<%= asset_path "bg12.jpg" %>)">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
  <div class="page-wrapper">
    <div class = "left-side">
      <div class="left-side-text">
        <div class="info-box">
          <div class="title">
            <h1>millefoglie <span class="orange-text bolder-text">E</span>' un giardino!</h1>
          </div>
          <p>Ci sono un vivaio di piante erbacee perenni, graminacee ornamentali e   annuali da fiore.</br>
          Un orto dei fiori in cui coltiviamo fiori da taglio.</br>
          Tante piante da vedere tra cui passeggiare... per scoprirle, conoscerle, portarle a casa.</p>

          <p>Cerchiamo continuamente piante che ancora non conosciamo, nuove specie e varietà.</p>

          <p>Scegliamo quelle  più rustiche, poco esigenti e resistenti a parassiti e malattie; le sperimentiamo nel nostro giardino; le riproduciamo, coltiviamo e le offriamo a chi le apprezza.</p>

          <p>Effettuiamo la vendita delle piante e dei fiori in vivaio o per corrispondenza.</p>

          <p>Progettiamo  e realizziamo giardini e terrazzi.</p>
        </div>
      </div>
      <div class="left-side-bottom">
      </div>
    </div>
  </div>
</div>
