<div class="container">
  <div class="admin-buttons">
    <%= link_to "Crea nuova pianta", new_plant_path, class: "btn btn-success" %>
  </div>

  <%= link_to "ordine alfabetico", plants_path, class: "btn" %>
  <%= link_to "ordina per ultima creata", by_created_plants_path, class: "btn" %>
  <%= link_to "ordina per ultima aggiornata", by_updated_plants_path, class: "btn" %>
  <div class="catalogo-content">
    <h1>Catalogo / <%= @plants.count %> piante</h1>
    <ul>
      <% @plants.each do |pianta| %>
        <li>
         <% if pianta.nascondi? %>
           <span class="text-warning">NASCOSTA</span>
         <% end %>
          <%= link_to pianta.name, plant_path(pianta.id) %>
          <!-- Turns Rails timestamps into European format, setup in en.yml -->
          Ultimo aggiornamento: <%= l pianta.updated_at, format: :euro %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- .sort_by(&:created_at).reverse -->
