<div class="column-center">
  <div class="plant-card2">
    <div class="card2-photo">
      <% if plant.photos.empty? %>
        <%= image_tag "Logo_2.png" %>
      <% else %>
        <% plant.photos.each do |photo| %>
          <%= cl_image_tag photo.path %>
        <% end %>
      <% end %>
      <%= link_to "", plant_path(plant), class: "card2-link"%>
    </div>

    <div class="card2-content">
      <h1><%= plant.name %></h1>
      <div class="card2-info">
        <p><strong>Esposizione:</strong> <%= plant.esposizione %></p>
        <p><strong>Fioritura:</strong> <%= plant.fioritura %></p>
        <p><strong>Altezza:</strong> <%= plant.altezza %></p>
        <div class="other-card-links fw-bold">
          <%= link_to "Vedi di più", plant_path(plant) %>
        </div>
      </div>

      <div class="card2-button">
        <p>
          <%= humanized_money_with_symbol plant.prezzo %>
          <% if plant.disponibile? %>
            <span class="small-caps text-success fw-bold">disponibile</span>
          <% else %>
            <span class="small-caps text-danger">non disponibile</span>
          <% end %>
        </p>
        <% if plant.disponibile? %>
          <%= form_for @line_item do |f| %>
            <%= f.hidden_field :plant_id, value: plant.id %>
            <%= f.number_field :quantity, value: 1, class: "small-field" %>
            <%= f.submit 'Carrello', class: 'btn btn-purple btn-cart' %>
          <% end %>
        <% else %>
          <%= button_to 'Carrello', line_items_path(plant_id: plant), class: 'btn btn-purple disabled' %><%= link_to "", plant_path(plant), class: "card2-link"%>
        <% end %>
      </div>

    </div>
  </div>
</div>
