<div class="column-center">
	<div class="plant-card2">
		<div class="card2-photo">
			<% if plant.photo.attached? %>
				<%= image_tag plant.photo %>
			<% else %>
				<%= image_tag "Logo_2.png" %>
			<% end %>
			<%= link_to "", plant_path(plant), class: "card2-link"%>
		</div>
		<div class="card2-content">
			<h1><%= plant.name %></h1>
			<div class="card2-info">
				<p><strong>Esposizione:</strong> <%= plant.esposizione %></p>
				<p><strong>Fioritura:</strong> <%= plant.fioritura %></p>
				<p><strong>Altezza:</strong> <%= plant.altezza %></p>
				<div class="other-card-links fw-bold">
					<%= link_to "Vedi di più", plant_path(plant) %>
				</div>
			</div>
			<div class="card2-button">
				<p>
					<%= humanized_money_with_symbol plant.prezzo %>
					<% if plant.disponibile? %>
						<span class="small-caps text-success fw-bold">disponibile</span>
					<% else %>
						<span class="small-caps text-danger">non disponibile</span>
					<% end %>
				</p>
				<% if plant.disponibile? %>
					<%= form_for @line_item, remote: true do |f| %>
						<%= f.hidden_field :plant_id, value: plant.id %>
						<%= f.number_field :quantity, value: 1, class: "small-field" %>
						<%= button_tag :submit, data: { "disable-with": "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>
  <span class='visually-hidden'>Loading...</span>".html_safe }, id: "cart-button-#{plant.id}", class: 'btn btn-purple btn-cart' do %>
							<i class="fas fa-shopping-basket"></i><span class='visually-hidden'>Carrello</span>
						<% end %>
					<% end %>
				<% else %>
					<%= button_tag class: 'btn btn-purple disabled btn-cart' do %>
						<i class="fas fa-shopping-basket"></i>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
