<div class="column-center">
  <div class="plant-card">
    <div class="card-photo">
      <% if plant.photo.nil? %>
        <%= @photo = image_tag ["3.jpg", "banner.gif", "bg10.jpg", "bg13.jpg", "bg03.jpg", "2.jpg", "bg05.jpg", "newsletter.jpg"].sample %>
      <% else %>
        <%= @photo = plant.photo %>
      <% end %>
    </div>

    <div class="card-content">
      <div class="card-description">
        <div class="card-info">
          <h1><%= plant.name %></h1>
          <p class="small">Vaso: <%= plant.vaso %></p>
          <p class="light"><%= plant.prezzo %>€</p>
        </div>
      </div>
    </div>

    <%= link_to "", plant_path(plant), class: "card-link"%>
  </div>
</div>

