<div class="white-bg">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= value %></div>
  <% end %>
  <div class="catalogo-content">
    <p><%= @pagy.count %> risultati</p>
    <div class="row">
      <% @plants.each do |plant| %>
        <div class="col-xs-6 col-md-4">
          <%= render "plants/card", plant: plant %>
        </div>
      <% end %>
    </div>
    <div class="navigation-box">
      <%= render partial: 'shared/pagination', locals: { pagy: @pagy } %>
      <%= link_to raw("&larr; Torna indietro"), catalogo_path, class: 'uppercase-text' %>
    </div>
  </div>
</div>