<div class="bg">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="white-bg">
    <% if user_signed_in? && current_user.admin %>
      <div class="container">
        <div class="admin-buttons">
          <%= link_to "Crea nuova pianta", new_plant_path, class: "btn btn-success" %>
        </div>

        <div class="catalogo-content">
          <h1>Catalogo / <%= Plant.all.count %> piante</h1>
          <%= link_to "ordine alfabetico", plants_path, class: "btn" %>
          <%= link_to "ordina per ultima creata", by_created_plants_path, class: "btn" %>
          <%= link_to "ordina per ultima aggiornata", by_updated_plants_path, class: "btn" %>
          <ol>
            <% @plants.each do |pianta| %>
              <li>
               <% if pianta.nascondi? %>
                 <span class="text-warning">NASCOSTA</span>
               <% end %>
                <%= link_to pianta.name, plant_path(pianta.id) %>
                <!-- Turns Rails timestamps into European format, setup in en.yml -->
                Ultimo aggiornamento: <%= l pianta.updated_at, format: :euro %>
              </li>
            <% end %>
          </ol>
          <!-- ceil is called because you want the number rounded up, e.g. 16/10 should equal 2 not 1.6 -->
          <% (Plant.all.size.to_f/@limit).ceil.times do |n| %>
          <%= link_to (n + 1).to_s, plants_path(offset: n) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
