<div class="bg">
  <%= render 'shared/navbar' %>
  <div class="white-bg">
    <%= render 'shared/catalogo_flash' %>
    <div class="catalogo-content">
      <p><%= link_to raw("&larr; Torna all'indice del catalogo"), catalogo_path, class: "orange-text" %></p>
      <h1>Piante basse</h1>
      <!-- Filters -->
      <%= form_with(url: altezza_bassa_plants_path, method: :get, remote: true) do |f| %>
        <div class="catalogo-filters-grid">
          <div class="catalogo-filters-content"><%= f.label :category, "Categoria" %> <%= f.select :category, Plant.options_for_category, include_blank: true  %></div>
          <div class="catalogo-filters-content"><%= f.label :esposizione, "Esposizione" %> <%= f.select :esposizione, Plant.options_for_esposizione, include_blank: true  %></div>
          <div class="catalogo-filters-content"><%= f.label :fioritura, "Fioritura" %> <%= f.select :fioritura, Plant.options_for_fioritura, include_blank: true %></div>
          <div class="catalogo-filters-content"><%= f.label :funzione, "Funzione" %> <%= f.select :funzione, Plant.options_for_funzione, include_blank: true  %></div>
          <div class="catalogo-filters-content"><%= f.submit 'Filtra' %>
            <%= link_to('Resetta filtri', altezza_bassa_plants_path ) %></div>
        </div>
      <% end %>
      <!-- End of Filters -->
      <div class="filter-results">
        <%= render 'catalogo_clienti' %>
      </div>
    </div>
  </div>
</div>