<div class="bg">
  <%= render 'shared/navbar' %>
  <div class="white-bg">
    <%= render 'shared/catalogo_flash' %>
    <div class="catalogo-content">
      <nav aria-label="breadcrumb" class="breadcrumbs">
        <ul>
          <li><%= link_to "Catalogo", catalogo_path(anchor: 'catalogo'), class: "orange-text" %></li>
          <li class="bc-active" aria-current="page">Ambiente - poche esigenze di irrigazione</li>
        </ul>
      </nav>
      <h1 class="catalogo-mobile">Piante da secco e con poche esigenze di irrigazione</h1>
      <%= render 'filters_form', chapter: da_secco_plants_path %>
      <div class="filter-results">
        <%= render 'catalogo_clienti' %>
      </div>
    </div>
  </div>
</div>
