<div class="bg">
  <%= render 'shared/navbar' %>
  <div class="white-bg">
    <%= render 'shared/catalogo_flash' %>
    <div class="catalogo-content">
      <nav aria-label="breadcrumb" class="breadcrumbs">
        <ul>
          <li><%= link_to "Catalogo", catalogo_path, class: "orange-text" %></li>
          <li class="bc-active" aria-current="page">Erbacee Perenni</li>
        </ul>
      </nav>
      <h1><%= @category.titleize %></h1>
      <!-- Filters -->
      <%= form_with(url: erbacee_perenni_plants_path, method: :get, remote: true) do |f| %>
        <div class="catalogo-filters-grid">
          <div class="catalogo-filters-content"><%= f.label :esposizione, "Esposizione" %> <%= f.select :esposizione, Plant.options_for_esposizione, include_blank: true %></div>
          <div class="catalogo-filters-content"><%= f.label :fioritura, "Fioritura" %> <%= f.select :fioritura, Plant.options_for_fioritura, include_blank: true %></div>
          <div class="catalogo-filters-content"><%= f.label :altezza, "Altezza" %> <%= f.select :altezza, Plant.options_for_altezza, include_blank: true %></div>
          <div class="catalogo-filters-content"><%= f.label :funzione, "Funzione" %> <%= f.select :funzione, Plant.options_for_funzione, include_blank: true %></div>
          <div class="catalogo-filters-content"><%= f.submit 'Filtra' %> <%= link_to('Resetta filtri', erbacee_perenni_plants_path ) %></div>
        </div>
      <% end %>
      <!-- End of Filters -->
      <div class="filter-results">
        <%= render 'catalogo_clienti' %>
      </div>
    </div>
  </div>
</div>