<div class="bg">
  <%= render 'shared/navbar' %>
  <div class="white-bg">
    <%= render 'shared/catalogo_flash' %>
    <div class="catalogo-content">
      <nav aria-label="breadcrumb" class="breadcrumbs">
        <ul>
          <li><%= link_to "Catalogo", catalogo_path(anchor: 'catalogo'), class: "orange-text" %></li>
          <li class="bc-active" aria-current="page">Tutte le piante</li>
        </ul>
      </nav>
      <%= render 'filters_form' %>
      <div class="filter-results">
        <%= render 'catalogo_clienti' %>
      </div>
    </div>
  </div>
</div>

<%# Set 2 classes with different translateX values: one to show, one to hide the menu/filter
Set javascript function that switches between classes on click of the trigger button (also the button become an X when the menu is open)
example:
._14pOwXD {
    transform: translateX(0);
}
._1E8JSYc {
    transform: translateX(-320px);
}
class to make the transition smoother and animated:
._202gWS8 {
    transition: transform .25s ease-out;
}

._1E8JSYc {
    height: 100%;
    transform: translateX(-320px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
    background-color: #fff;
}

<div role="dialog" aria-modal="true" class="_1E8JSYc _14pOwXD _202gWS8" aria-labelledby="sidepanel_navigation_header" data-testid="sidepanel">
</div>

--------------------
Classes to make the rest of the page opaque like a modal:

._39yaKKY {
    transition: opacity .25s ease-in;
}
._3aTEV5t {
    position: fixed;
    visibility: hidden;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 19000;
    opacity: 0;
    background-color: rgba(45,45,45,.65);
    right: 0;
}
aside {
    display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

<aside class="_3aTEV5t _39yaKKY" role="button" aria-hidden="true"></aside> %>
