<div class="bg">
  <%= render 'shared/navbar' %>
  <div class="white-bg">
    <div class="container">
      <div class="pianta-content mb-5">
        <% if @plant.nascondi? %>
          <h2>NASCOSTA</h2>
        <% end %>
        <h1><%= @plant.name %></h1>
        <% if @plant.photos.empty? %>
          <%= image_tag "Logo_2.png" %>
        <% else %>
          <% @plant.photos.each do |photo| %>
            <%= cl_image_tag photo.path %>
          <% end %>
        <% end %>
        <p><%= simple_format(@plant.description) %></p>
        <ul>
          <li><strong>Categoria:</strong> <%= @plant.category %></li>
          <li><strong>Esposizione:</strong> <%= @plant.esposizione %></li>
          <li><strong>Fioritura:</strong> <%= @plant.fioritura %></li>
          <li><strong>Altezza:</strong> <%= @plant.altezza %></li>
          <li><strong>Terreno:</strong> <%= @plant.terreno %></li>
          <li><strong>Densità:</strong> <%= @plant.densità %></li>
          <li><strong>Vaso:</strong> <%= @plant.vaso %></li>
          <li><strong>Prezzo:</strong> <%= humanized_money_with_symbol @plant.prezzo %></li>
        </ul>
        <ul>
          <% if @plant.disponibile? %>
            <li>Questa pianta è <span class="text-success">disponibile</span>.</li>
            <% else %>
              <li>Questa pianta <span class="text-danger">non è disponibile</span> al momento.</li>
          <% end %>
          <% if @plant.novità? %>
            <li>Questa pianta è una <span class="text-warning">novità 2017</span>!</li>
          <% end %>
        </ul>
        <% if user_signed_in? && current_user.admin %>
          <div class="admin-buttons">
            <p>Pannello Amministratori</p>
              <%= link_to '<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Torna al catalogo'.html_safe, plants_path %> <br />
              <br />
              <%= link_to "Modifica pianta", edit_plant_path(@plant.id), class: "btn btn-warning" %>
              <%= link_to "Elimina pianta", plant_path(@plant.id), method: :delete, data: { confirm: "Eliminare davvero?"}, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
