<div class="bg">
	<%= render 'shared/navbar' %>
	<div class="catalogo-content white-bg">
		<div class="container">
			<%= link_to 'Continua con gli acquisti', catalogo_path(anchor: 'catalogo'), class: '' %>
			<p style="text-align:left;font-size:25px">IN QUESTO PERIODO LE SPEDIZIONI SONO SOSPESE. RIPRENDEREMO A SPEDIRE LE PIANTE IN AUTUNNO.</p>
			<hr class="invisible" />
			<div class="cart-content">
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<h4>
							<span class="">Totale:</span> <%= humanized_money_with_symbol @cart.total_price %>
						</h4>
					</div>
					<div class="col-xs-12 col-sm-9 responsive-cart">
						<% if @cart.total_price.to_i < 30 %>
							<div id="min-spending-msg">
								Per poter inviare l'ordine devi raggiungere un totale minimo di 30€.
								<%= link_to 'Continua con gli acquisti!', catalogo_path(anchor: 'catalogo'), class: '' %>
							</div>
							<%= button_to "Ordina", new_cart_order_path(@cart), method: :get, class: "btn btn-purple btn-lg", disabled: true %>
						<% else %>
							<%= button_to "Ordina", new_cart_order_path(@cart), method: :get, class: "btn btn-purple btn-lg" %>
						<% end %>
						<%= button_to 'Svuota il carrello', @cart, method: :delete, data: { confirm: "Sei sicur*? " }, class: "btn btn-outline-secondary cart-button" %>
					</div>
				</div>
			</div>
			<hr class="style-six" />
			<!-- Cart contents -->
			<% if @line_items.empty? %>
				<h2 style="margin-bottom:115px;">Carrello vuoto</h2>
			<% else %>
				<% @line_items.each do |line_item| %>
					<div class="line-item">
						<div class="row">
							<div class="col-xs-12 col-md">
								<!-- top part / left column-->
								<div class="pianta-top">
									<div class="cart-img">
										<% if line_item.plant.photo.nil? %>
											<%= image_tag "Logo_2.png", style: 'height:100px;width:auto;' %>
										<% else %>
											<%= image_tag line_item.plant.photo, size: '100x100', crop: :fill %>
										<% end %>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-9">
								<!-- need this dumba** extra div otherwise pianta bottom won't stay tf down -->
								<div class="flexy">
									<!-- bottom part / right column-->
									<div class="pianta-bottom">
										<div class="">
											<div class="bolder-text"><%= link_to line_item.plant.name, plant_path(line_item.plant_id) %></div>
											<div class="lighter-text"><span class="small-caps">Quantità:</span> <%= line_item.quantity %><%= link_to "modifica", edit_line_item_path(line_item.id), class: "ms-4", remote: true %></div>
											<div class="bolder-text"><%= humanized_money_with_symbol line_item.total_price %></div>
										</div>
										<div class="">
											<div class="lighter-text"><%= truncate(line_item.plant.description, length: 140) %></div>
										</div>
										<div class="">
											<%= link_to 'Rimuovi', line_item, method: :delete, data: { confirm: "Sei sicur*? " }, class: "lighter-text" %>
										</div>
										<!-- end of pianta bottom div -->
									</div>
									<!-- end of flexy div -->
								</div>
								<!-- end of col div -->
							</div>
							<!-- end of row div -->
						</div>
					</div>
				<% end %>
			<% end %>
			<br>
			<br>
		</div>
		<div id="cartModal" class="modal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div id="quantModal" class="modal-body">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
