<div class="event-card">
  <div class="event-cover-photo">
    <% if event.content.body.attachments()[0].present? %>
      <!-- takes the first attached image: -->
      <% if Rails.env.development? %>
        <%= image_tag url_for(event.content.body.attachments()[0]) %>
      <% end %>
      <% if Rails.env.production? %>
        <%= cl_image_tag url_for(event.content.body.attachments()[0]) %>
      <% end %>
    <% else %>
      <%= image_tag "event_card.jpg" %>
    <% end %>
  </div>
  <div class="event-card-content">
    <div class="event-card-date">
      <p class="">
        <% if event.data_evento.nil? %>
          Data da confermare
        <% else %>
          <%= I18n.l(event.data_evento, format: :event_short).to_s %>
          <% if event.data_evento.strftime("%H:%M") != "00:00" %>
            <% if event.data_fine_evento.nil? || event.data_fine_evento.to_date == event.data_evento.to_date %>
              , ore <%= event.data_evento.strftime("%H:%M") %>
            <% end %>
          <% end %>
        <% end %>
        <% if ! event.data_fine_evento.nil? && event.data_fine_evento.to_date != event.data_evento.to_date %>
          <%= "– " + I18n.l(event.data_fine_evento, format: :event_short).to_s  %>
        <% end %>
      </p>
    </div>
    <div class="event-card-title">
      <p><%= event.title %></p>
    </div>
    <div class="event-card-description">
      <%# add .truncate(200) to only keep 200 char %>
      <p><%= event.content.to_plain_text.gsub(/\[.*\]/, "").truncate(200) %></p>
    </div>
    <%= link_to raw("Apri &rarr;"), vivaio_event_path(event.id), class:"btn btn-purple event-card-button" %>
  </div>
  <%= link_to "", vivaio_event_path(event.id), class:"event-card-link" %>
</div>
