<div class="event-card">
  <div class="event-cover-photo">
    <% if event.content.body.attachments()[0].present? %>
      <!-- takes the first attached image: -->
      <% if Rails.env.development? %>
        <%= image_tag url_for(event.content.body.attachments()[0]) %>
      <% end %>
      <% if Rails.env.production? %>
        <%= cl_image_tag url_for(event.content.body.attachments()[0]) %>
      <% end %>
    <% else %>
      <%= image_tag "event_card.jpg" %>
    <% end %>
  </div>
  <div class="event-card-description">
    <div class="event-card-date">
      <p class="small-caps"><%= format_event_date event.data_evento, :event_short %></p>
    </div>
    <div class="event-card-title">
      <%= link_to event.title, vivaio_event_path(event.id), class:"event-card-link" %>
    </div>
  </div>
</div>