<div class="bg" style="background-image:url(<%= asset_path "bg_eventi.jpg" %>)">
  <div style="background-color: rgba(61, 62, 42, 0.4);">
    <%= render 'shared/navbar' %>
  </div>
  <div class="page-wrapper">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= value %></div>
    <% end %>
    <div class="container">
      <h1 class="text-center" id="blank-title">Eventi presso il Vivaio Millefoglie di Ivrea</h1>
      <% if user_signed_in? && current_user.admin %>
        <!-- Admin buttons -->
        <div>
          <%= link_to "Nuovo Evento", new_vivaio_event_path, class: "btn btn-success" %>
        </div>
        <!-- End of Admin buttons -->
      <% end %>
      <main class="events-grid">
        <div class="row">
          <% @vivaio_events.each do |event| %>
            <div class="col-xs-12 col-md-4">
              <%= render "event_card", event: event %>
              <% if user_signed_in? && current_user.admin %>
                <!-- Admin buttons -->
                <div class="event-admin-buttons">
                  <%= link_to "Modifica", edit_vivaio_event_path(event.id), class: "btn btn-warning" %>
                  <%= link_to "Elimina", vivaio_event_path(event.id), method: :delete, data: { confirm: "Eliminare davvero?"}, class: "btn btn-danger" %>
                </div>
                <!-- End of Admin buttons -->
              <% end %>
            </div>
          <% end %>
        </div>
      </main>
      <div>
        <% if params[:scope] %>
          <%= render 'shared/back_button' %>
        <% else %>
          <h4>
            <%= link_to vivaio_events_path(scope: :past) do %>
              Vedi gli eventi passati &#127811;
            <% end %>
          </h4>
        <% end %>
      </div>
    </div>
  </div>
</div>