<div class="bg">
  <%= render 'shared/navbar' %>
  <div class="page-wrapper white-bg">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= value %></div>
    <% end %>
    <div class="container">
      <% if user_signed_in? && current_user.admin %>
        <!-- Admin buttons -->
        <div>
          <%= link_to "Modifica", edit_vivaio_event_path(@vivaio_event.id), class: "btn btn-warning" %>
          <%= link_to "Elimina", vivaio_event_path(@vivaio_event.id), method: :delete, data: { confirm: "Eliminare davvero?"}, class: "btn btn-danger" %>
        </div>
        <!-- End of Admin buttons -->
      <% end %>
      <h1 class="text-center event-title"><%= @vivaio_event.title %></h1>
      <main class="event">
        <h3>
          <% if @vivaio_event.data_fine_evento.nil? %>
            </i> <%= format_event_date @vivaio_event.data_evento, :event_long_date %>
          <% else %>
            Da <%= format_event_date @vivaio_event.data_evento, :event_long_date %> a <%= I18n.l(@vivaio_event.data_fine_evento, format: :event_long_date).to_s %>
          <% end %>
        </h3>
        <%= @vivaio_event.content %>
      </main>
      <% if user_signed_in? && current_user.admin %>
        <%= link_to raw("&larr; Torna indietro"), vivaio_events_path %>
      <% else %>
        <%= render 'shared/back_button' %>
      <% end %>
    </div>
  </div>
</div>
