<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>La ringraziamo del suo ordine. Questo è un messaggio automatico. Riceverà al più presto la nostra conferma d'ordine con l'indicazione delle spese di spedizione.</p>
    <p>
    Riepilogo Ordine<br>
    ----------------------
    </p>
    <p>Nome: <%= @order.name %></p>
    <p>Email: <%= @order.email %></p>
    <p>Telefono: <%= @order.phone %></p>
    <p>Indirizzo spedizione: <%= @order.address %>, <%= @order.cap %> <%= @order.citta %></p>
    <p>Codice Fiscale (per la ricevuta): <%= @order.cf %></p>
    <p>Metodo di pagamento: <%= @order.metodo_pagamento %></p>
    <p>Periodo di spedizione: <%= @order.periodo_spedizione %></p>
    <p>Commenti: <%= @order.message %></p>
    <p>
    ----------<br>
    Ordine:
    </p>
    <ul>
      <% @order.cart.line_items.each do |lineitem| %>
        <li><%= lineitem.quantity  %>
        <%= lineitem.plant.name  %>,
        <%= humanized_money_with_symbol lineitem.plant.prezzo %></li>
       <% end %>
    </ul>
    <p>Totale (escluse le spese di spedizione): <%= humanized_money_with_symbol @order.cart.total_price %></p>
  </body>
</html>
