<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Nuovo ordine da <strong><%= @order.name %></strong>.</p>
    <p>
    Dettagli Ordine<br>
    --------------------------
    </p>
    <p>Nome: <%= @order.name %></p>
    <p>Email: <%= @order.email %></p>
    <p>Telefono: <%= @order.phone %></p>
    <p>Indirizzo spedizione: <%= @order.address %></p>, <%= @order.cap %> <%= @order.citta %></p>
    <p>Codice Fiscale: <%= @order.cf %></p>
    <p>Metodo di pagamento: <%= @order.metodo_pagamento %></p>
    <p>Periodo di spedizione: <%= @order.periodo_spedizione %></p>
    <p>Commenti: <%= @order.message %></p>
    <p>
    ----------<br>
    Ordine:
    </p>
    <ul><% @order.cart.line_items.each do |lineitem| %>
        <li><%= lineitem.quantity  %>
        <%= lineitem.plant.name  %>,
        <%= humanized_money_with_symbol lineitem.plant.prezzo %></li>
       <% end %>
    </ul>
    <p>Totale: <%= humanized_money_with_symbol @order.cart.total_price %></p>
  </body>
</html>
