<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hai ricevuto un nuovo ordine da <%= @order.name %>!</p>
    <p>
    Dettagli Ordine<br>
    --------------------------
    </p>
    <p>Nome: <%= @order.name %></p>
    <p>Email: <%= @order.email %></p>
    <p>Telefono: <%= @order.phone %></p>
    <p>Indirizzo spedizione: <%= @order.address %></p>
    <p>
    Commenti:<br>
    ----------
    </p>
    <p><%= @order.message %></p>
    <p>
    Ordine:<br>
    ----------
    </p>
    <p><%= @order.cart %></p>
  </body>
</html>
