<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Nuovo ordine da <strong><%= @order.name %></strong>.</p>
    <br>
    <p>
    <p style="color:#fd5f00 font-size:120%">Dettagli Ordine</p>
    </p>
    <p><strong>Nome:</strong> <%= @order.name %></p>
    <p><strong>Email:</strong> <%= @order.email %></p>
    <p><strong>Telefono:</strong> <%= @order.phone %></p>
    <p><strong>Indirizzo spedizione:</strong> <%= @order.address %>, <%= @order.cap %> <%= @order.citta %></p>
    <p><strong>Codice Fiscale</strong> (per la ricevuta): <%= @order.cf %></p>
    <p><strong>Metodo di pagamento:</strong> <%= @order.metodo_pagamento %></p>
    <p><strong>Periodo di spedizione:</strong> <%= @order.periodo_spedizione %></p>
    <p><strong>Commenti:</strong> <%= simple_format(@order.message) %></p>
    <p>
    <br>
    <br>
    <strong>Ordine:</strong>
    </p>
    <ul>
      <% @order.cart.line_items.each do |lineitem| %>
        <li><%= lineitem.quantity  %>
        <%= lineitem.plant.name  %>,
        <%= humanized_money_with_symstrongol lineitem.plant.prezzo %></li>
       <% end %>
    </ul>
    <p><strong>Totale (<u>escluse le spese di spedizione</u>):</strong> <%= humanized_money_with_symstrongol @order.cart.total_price %></p>
  </body>
</html>
