<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Nuovo ordine da <strong><%= @order.name %></strong>.</p>
    <p>
    Dettagli Ordine<br>
    --------------------------
    </p>
    <p>Nome: <%= @order.name %></p>
    <p>Email: <%= @order.email %></p>
    <p>Telefono: <%= @order.phone %></p>
    <p>Indirizzo spedizione: <%= @order.address %></p>
    <p>Commenti: <%= @order.message %></p>
    <p>
    ----------<br>
    Ordine:
    </p>

  </body>
</html>
