La ringraziamo del suo ordine. Questo è un messaggio automatico. Riceverà al più presto la nostra conferma d'ordine con l'indicazione delle spese di spedizione.
===============================================

Riepilogo Ordine:
--------------------------

Nome: <%= @order.name %>
Email: <%= @order.email %>
Telefono: <%= @order.phone %>
Indirizzo spedizione: <%= @order.address %>, <%= @order.cap %> <%= @order.citta %> (<%= @order.provincia %>)

Commenti:
<%= @order.message %>


----------<br>
Ordine:
<% if !@order.nil? && !@order.cart.nil? %>
  <% @order.cart.line_items.each do |lineitem| %>
    <%= lineitem.quantity  %> <%= lineitem.plant.name  %>, <%= humanized_money_with_symbol lineitem.plant.prezzo %>
  <% end %>
<% else %>
  <p>Ordine vuoto.</p>
<% end %>

Totale (escluse le spese di spedizione):
<% if !@order.cart.nil? %>
  <%= humanized_money_with_symbol @order.cart.total_price %>
<% else %>
  0€
<% end %>
