<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Nuovo ordine da <strong><%= @order.name %></strong>.</p>
    <p>
    Dettagli Ordine<br>
    --------------------------
    </p>
    <p>Nome: <%= @order.name %></p>
    <p>Email: <%= @order.email %></p>
    <p>Telefono: <%= @order.phone %></p>
    <p>Indirizzo spedizione: <%= @order.address %></p>
    <p>Commenti: <%= @order.message %></p>
    <p>
    ----------<br>
    Ordine:
    </p>
    <p><% @order.cart.line_items.each do |lineitem| %>
        <%= lineitem.quantity  %>
        <%= lineitem.plant.name  %>,
        <%= lineitem.plant.prezzo humanized_money_with_symbol %>
       <% end %>
    </p>
    <p>Totale: <%= @cart.total_price humanized_money_with_symbol %></p>
  </body>
</html>
