<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="margin: 30px 100px;">
      <p>Grazie per il suo ordine! Questo è un messaggio automatico. <br>
         La contatteremo al più presto dal nostro indirizzo principale <a href="mailto:info@vivaiomillefoglie.it">info@vivaiomillefoglie.it</a> con la nostra conferma d'ordine, l'indicazione delle spese di spedizione e i dettagli per la modalità di pagamento da lei specificata.</p>
      <br>
      <p>
        <p><span style="background-color:#fd7e32; font-size:120%;">Riepilogo Ordine</span></p>
      </p>
      <table>
        <tbody>
          <tr>
            <td><strong>Nome:</strong></td>
            <td><%= @order.name %></td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td><%= @order.email %></td>
          </tr>
          <tr>
            <td><strong>Telefono:</strong></td>
            <td><%= @order.phone %></td>
          </tr>
          <tr>
            <td><strong>Indirizzo spedizione:</strong></td>
            <td><%= @order.address %>, <%= @order.cap %> <%= @order.citta %> (<%= @order.provincia %>)</td>
          </tr>
          <tr>
            <td><strong>Codice Fiscale</strong> (per la ricevuta):</td>
            <td><%= @order.cf %></td>
          </tr>
          <tr>
            <td><strong>Metodo di pagamento:</strong></td>
            <td><%= @order.metodo_pagamento %></td>
          </tr>
          <tr>
            <td><strong>Periodo di spedizione:</strong></td>
            <td><%= @order.periodo_spedizione %></td>
          </tr>
          <tr>
            <td><strong>Note:</strong></td>
            <td><%= simple_format(@order.message) %></td>
          </tr>
        </tbody>
      </table>
      <p>
        <br>
        <br>
        <strong>Ordine:</strong>
      </p>
      <ul>
        <% if !@order.nil? && !@order.cart.nil? %>
          <% @order.cart.line_items.each do |lineitem| %>
            <li><%= lineitem.quantity  %>
              <%= lineitem.plant.name  %>,
              <%= humanized_money_with_symbol lineitem.plant.prezzo %></li>
          <% end %>
        <% else %>
          <p>Ordine vuoto.</p>
        <% end %>
      </ul>
      <p><strong>Totale piante (<u>escluse le spese di spedizione</u>):</strong>
        <% if !@order.cart.nil? %>
          <%= humanized_money_with_symbol @order.cart.total_price %>
        <% else %>
          0€
        <% end %>
      </p>
      <br>
      <br>
      <p>Cordiali saluti,</p>
      <p>Millefoglie Piante e Giardini</p>
      <%= image_tag("logo bianco.png", width: '300') %>
      <p><a href="www.vivaiomillefoglie.it">www.vivaiomillefoglie.it</a></p>
    </div>
  </body>
</html>