<div class="bg">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="page-wrapper white-bg">
    <div class="gardens-intro">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id purus placerat, tristique nibh quis, consectetur tortor.
      <% if user_signed_in? && current_user.admin %>
        <!-- Admin buttons -->
        <div class="spacing-5"><%= link_to "Aggiungi foto", new_garden_path, class: "btn btn-success btn-sm" %> </div>
      <% end %>
    </div>
    <div class="gardens-display">
      <% @gardens.each do |garden| %>
        <div class="garden-photo-section">
          <% if user_signed_in? && current_user.admin %>
            <!-- Admin buttons -->
            <div class="garden-admin-buttons">
              <%= link_to "Modifica", edit_garden_path(garden.id), class: "btn btn-warning" %>
              <%= link_to "Elimina", garden_path(garden.id), method: :delete, data: { confirm: "Eliminare davvero?"}, class: "btn btn-danger" %>
            </div>
            <!-- End of Admin buttons -->
          <% end %>
          <% if Rails.env.development? %>
            <%= image_tag garden.photo, class: "big-img-resize garden-photo" %>
          <% elsif Rails.env.production? %>
            <%= cl_image_tag garden.photo, class: "big-img-resize garden-photo" %>
          <% end %>
        </div>
      <% end %>
      <!--
      <div class="garden-photo-section">
        <%= image_tag "gardens/g_02.jpg", class: "big-img-resize garden-photo" %>
      </div><div class="garden-photo-section">
        <%= image_tag "gardens/g_03.jpg", class: "big-img-resize garden-photo" %>
      </div><div class="garden-photo-section">
        <%= image_tag "gardens/g_04.jpg", class: "big-img-resize garden-photo" %>
      </div><div class="garden-photo-section">
        <%= image_tag "gardens/g_05.jpg", class: "big-img-resize garden-photo" %>
      </div><div class="garden-photo-section">
        <%= image_tag "gardens/g_06.jpg", class: "big-img-resize garden-photo" %>
      </div><div class="garden-photo-section">
        <%= image_tag "gardens/g_07.jpg", class: "big-img-resize garden-photo" %>
      </div><div class="garden-photo-section">
        <%= image_tag "gardens/g_08.jpg", class: "big-img-resize garden-photo" %>
      </div>-->
    </div>
  </div>
</div>
