<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vivaio Millefoglie</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css", integrity: "sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M", crossorigin: "anonymous", media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="wrapper">
      <%= render 'shared/flashes' %>
      <!-- <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> -->
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= cloudinary_js_config %>
    </div>
    <!-- PUT FOOTER HERE -->
    <%= render 'shared/page-bottom' %>
  </body>
</html>
