<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vivaio Millefoglie</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css", integrity: "sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M", crossorigin: "anonymous", media: 'all' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat|IM+Fell+Double+Pica|Muli" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="wrapper">
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= cloudinary_js_config %>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?theme=grey&always=1&scrolling=1"></script>
      <!-- PUT FOOTER HERE -->
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
